.git/
.idea/
tokens/
others/
logs/
.cache/
__pycache__/
*.pytest_cache/
.ruff_cache/
dist/
venv/
.venv/
*.egg-info/
tmp/

.DS_Store
*.cache
*.pkl
*.env

.dockerignore
.editorconfig
.github
.gitignore
.pre-commit-config.yaml
Dockerfile
Dockerfile_selenium
docker-compose.yml
pyproject.toml
scripts
tags
tests
.git/
.idea/
.ruff_cache/
bazos.egg-info/
tmp/
tokens/
venv/

