.git/
.idea/
tokens/
others/
logs/
.cache/
__pycache__/
*.pytest_cache/
.ruff_cache/
dist/
venv/
.venv/
*.egg-info/
tmp/
.github
tests


.DS_Store
*.pkl
*.env
.dockerignore
.editorconfig
.gitignore
.pre-commit-config.yaml
Dockerfile
Dockerfile_selenium
docker-compose.yml
pyproject.toml
tags
