# macOS
.DS_Store

# dirs
others/
scrapper/.env

.venv/

# ide
.idea/

tags


# cache
.cache/
__pycache__/
*.pytest_cache/
*.cache

# logs
logs/

# project setup.py
*.egg-info/

# env
*.env

# cookies
*.pkl
