bandit==1.7.7
bazos==0.1.0
colorama==0.4.6
currencyconverter==0.17.17
forex-python==1.8
gitpython==3.1.42
pip-autoremove==0.10.0
pip-chill==1.0.3
pysocks==1.7.1
selenium==4.18.1
tomli==2.0.1
tqdm==4.66.2
versioneer==0.29
webdriver-manager==4.0.1
