attrs==23.1.0
certifi==2023.11.17
chardet==3.0.4
charset-normalizer==3.3.2
CurrencyConverter==0.17.14
dbus-python==1.2.16
distro-info==0.23+ubuntu1.1
exceptiongroup==1.2.0
h11==0.14.0
idna==2.8
outcome==1.3.0.post0
packaging==23.2
pip-chill==1.0.3
pycairo==1.25.1
PyGObject==3.36.0
PySocks==1.7.1
python-apt==2.0.1+ubuntu0.20.4.1
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
requests-unixsocket==0.2.0
selenium==4.16.0
six==1.14.0
sniffio==1.3.0
sortedcontainers==2.4.0
supervisor==4.1.0
trio==0.23.2
trio-websocket==0.11.1
unattended-upgrades==0.1
urllib3==2.1.0
webdriver-manager==4.0.1
wsproto==1.2.0
